$Color1: #2178a3;
$Color2: #afb6ba;

@font-face {
    font-family: font1;
    src: url('font/Montserrat-Regular.ttf');
}

body {
	margin: 0;
    padding: 0;
	background-color: #F5F5F5;
}	
	
header { 
	background-color: $Color1;
}

ul {
    display: flex;
	justify-content: left;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 1px;
}

li {
	display: inline-block;
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
	padding-left: 5px;
	position: relative;
	left: 10px;
	color: $Color2;
	word-spacing: 0;
}

#antoLogo {
	width: 100px;
  }
#antoLogo:hover {
	transform: none;
}

h1, h2, h3, p {
	text-align: center;
	font-size: 55px;
	font-family: 'Roboto Mono', monospace;
	line-height: 10px;
}

h3 {
	font-size: 25px;
}

.subTitle {
	position: absolute;
    top: 185px;
    left: 50%;
    white-space: nowrap;
    overflow: hidden;
    padding: 15px;
    transform: translate(-50%, -50%);
    animation: type 7s steps(50, end);
}
@keyframes type {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.mainimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 95px;
	height: 500px;
	border-radius: 5px;
}

.mainimg:hover {
	animation: shake 0.9s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

h2 {
	font-size: 30px;
	padding-top: 25px;
}

.aboutme {
	margin: 0 auto;
	text-align: justify;
	width: 80%;
	font-size: 20px;
	margin-top: 45px;
	line-height: 35px;
}
	
.projects {
	 display: grid;
	 grid-template-columns: 1fr 1fr 1fr;
	 width: 25%;
	 margin: auto;
	 grid-column-gap: 30px;
	 grid-row-gap: 80px;
	 justify-content: center;
	 margin-top: 45px;
	 text-align: center;
	 font-family: font1;
	 margin-bottom: 180px;
}
 
@media only screen and (max-width: 1020px) {
.projects {
	 display: grid;
	 grid-template-columns: 1fr 1fr;
	 margin: 25%;
	 width: 50%;
	 grid-column-gap: 15px;
	 grid-row-gap: 80px;
	 justify-content: center;
	 margin-top: 60px;
	 text-align: center;
	 font-family: font1;
	 margin-bottom: 180px;
	}
}

.projects img {
	width: 300px;
	border-radius: 10px;
	border: 1px solid black;
	transition: transform .2s;
}

img:hover {

	transform: scale(1.4);
}

h4 {
	text-align: center;
	font-family: font1;
}

ul a {
	text-decoration: none;
	color: $Color2;
	border-style: solid;
	border-radius: 5px;
	padding:10px;
}

.contacts {
	margin-top: 80px;
    font-family: font1;
}

.github {
	width: 35px;
}

.backtop {
	font-family: 'Roboto Mono', monospace;
	text-decoration: none;
	border-style: solid;
	padding: 5px;
	display: block;
	margin-left: 45%;
	margin-right: 45%;
	margin-top: 30px;
	text-align: center;
	color:  #afb6ba;
	border-radius: 5px;
	background-color: $Color1;
} 

.linkedin {
	width: 42px;
	padding-top: 2px;
}

.img-link {
	border-style: none;
}	

.bottom-links {
	display: flex;
	justify-content: center;
	position: relative;
	right: 11px;
}
	
h1 {
	margin-top: 50px;
}

a {
	text-decoration: none;
	color: black;
}

footer {
	height: 270px;
	background-color: $Color1;
}

#link-projects {
	margin-top: 160px;
}

#about-me {
	margin-top: 160px;
}
